.leftcolum {
    display: grid;
    justify-items: center;
    /*padding-left: 10px;*/
    align-items: center;
    background-color: #f8f3e9;
   /* overflow-y: scroll;*/ /*This code will allows scroll if content overflows*/

}