.App {
    height: 100vh;
}

.header {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    background-color: #c6e2ff;
    font-size: 1.8vw;
    text-shadow: 2px 2px 2px #ffffff;
    border: 2px solid #d6d5d5;
}

.sub-header {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 10%;
    width: 100%;
    font-size: 1.3vw;
    background-color: #eaf1ea;
    border: 2px solid #d6d5d5;
}

.main-two-cal {
    display: grid;
    margin: auto auto;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #d6d5d5;
    width: 100%;
    height: 49.7%;
}

.leftcolum {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #f8f3e9;
    font-size: 2vw;
}

.rightcolum {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #e9eaeb;
    font-size: 2vw;
}

.appFooter {
    display: grid;
    margin: auto auto;
    grid-template-columns: 1fr 1fr;
    height: 20%;
    width: 100%;
    text-shadow: 2px 2px 2px #ffffff;
    align-items: center;
    justify-content: center;
    z-index: -1;
    border: 2px solid #d6d5d5;
}

.footer-left {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #f9ffef;
    height: 100%;
}

.footer-right {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #f9ffef;
    height: 100%;
    font-size: 1.5vw;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: auto;
    width: 25%;
    padding: 2px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    .main-two-cal {
        display: grid;
        grid-template-columns: 1fr;
    }
}